<!DOCTYPE html>
<html lang="en">

<div class="hero-unit">
  <header class="jumbotron subhead" id="overview">
    <h1>Welcom to my homepage.  Please look around!</h1>
  </header>
  
  <p>Extra links below and above, so go check stuff out!</p>
  <p>
    <div class="row">
      <div class="span2"><a class="btn btn-primary btn-large" href="/about/info.html">About Page</a></div>
      <div class="span2"><a class="btn btn-success btn-large" href="/business_ideas/online_art.html">Business Ideas</a></div>
      <div class="span2"><a class="btn btn-warning btn-large" href="/theories/top_theories.html">Theories</a></div>
    </div>
  </p>
</div>
    
</html>



