<!DOCTYPE html>
<html lang="en">

<div class="hero-unit">
  <header class="jumbotron subhead" id="overview">
    <h1>About Page</h1>
    <p>Life is a constant balance between all types of things, some of which you have 
    		control over, and some of which you don't.  The beauty of it all is found in 
    		the simple fact that balance will always be maintained. The only certainty is 
    		some level of uncertainty.<br /><br /><small>Information about me below might 
    		be out of date, but is most likely just missing new information.</small></p>
  </header>
</div>

<div class="page-header">
  <h1>Education: <small>"Genius without education is like silver in the mine." 
  							-Benjamin Franklin</small></h1>
</div>

<table class="table table-bordered table-striped">
  <colgroup>
    <col class="span2">
    <col class="span2">
  </colgroup>
  <thead>
    <tr>
      <th>School</th>
      <th>Years</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a target="_blank" href="http://www.comday.org/index.aspx">Community Day School</a>
      </td>
      <td>
        1999-2008
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" href="http://www.pps.k12.pa.us/allderdice/site/default.asp">
        		Pittsburgh Allderdice High School</a>
      </td>
      <td>
        2008-2012
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" href="http://www.cmu.edu/index.shtml">Carnegie Mellon 
        		University (Introduction to Computer Programming Course)</a>
      </td>
      <td>
        Summer of 2010
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" href="http://www.upenn.edu/">University of Pennsylvania</a>
      </td>
      <td>
        2012-2016 (predicted) <a target="_blank" href="http://www.mkse.upenn.edu/">
        		Market and Social Systems Enginnering Major</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="page-header">
  <h1>Work Experience: <small>There are two rules to success:  #1 Never tell everything 
  								you know...</small></h1>
</div>

<table class="table table-bordered table-striped">
  <colgroup>
    <col class="span1">
    <col class="span1">
    <col class="span1">
  </colgroup>
  <thead>
    <tr>
      <th>Company</th>
      <th>Work</th>
      <th>Years</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a target="_blank" href="http://www.sqhillbaseball.org/">Sq. Hill Baseball Snack Bar</a>
      </td>
      <td>
        Manager and Scheduling director
      </td>
      <td>
        2007-2012
      </td>  
    </tr>
    <tr>
      <td>
        <a target="_blank" href="http://www.impacttest.com/">ImPACT Applications, Inc.</a>
      </td>
      <td>
        Handling Service Agreements between contractees and the CFO
      </td>  
      <td>
        Summer 2011
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" href="http://roommatefit.com/">RoommateFit</a>
      </td>
      <td>
        Web development intern
      </td>
      <td>
        Summer of 2012
      </td>
    </tr>
  </tbody>
</table>

<div class="page-header">
  <h1>Contact Me: <small>It's not who you know, but whom you know.
  							Here are some ways to get to know me.</small></h1>
</div>

<table class="table table-bordered table-striped">
  <colgroup>
    <col class="span2">
    <col class="span2">
  </colgroup>
  <thead>
    <tr>
      <th>Good</th>
      <th>Not-So-Good</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a target="_blank" href="http://www.facebook.com/ethan.abramson">Facebook</a>
      </td>
      <td>
        HAM radio
      </td>  
    </tr>
    <tr>
      <td>
        <a target="_blank" href="mailto:nflethana@gmail.com">nflethana@gmail.com</a> (email)
      </td>
      <td>
        Carrier Pigeon
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" href="http://www.linkedin.com/profile/view?id=189204833&authType=NAME_SEARCH&authToken=U8P4&locale=en_US&srchid=4eff4f21-6fce-4b63-be5c-ec29e7924264-0&srchindex=4&srchtotal=5&goback=%2Efps_PBCK_ethan+abramson_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&pvs=ps&trk=pp_profile_name_link">
          LinkedIn
        </a>
      </td>
      <td>
        Telepathy
      </td>
  </tbody>
</table>